.OldtimerSearch {
  font-family: Inter-Regular;
  padding: 100px 8%;
  background-color: white;
}

.FeedOS {
  margin-top: 20px;
  justify-items: center;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}

.BelowFeed {
  display: flex;
  justify-content: center;
}

.more-cars-btn {
  color:#3a3a3a;
  background-color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 40px;
  font-size: 0.85rem;
  border: solid 2px #F2BE22;
  border-radius: 10px;
  cursor: pointer;
}

.more-cars-btn:hover {
  color: #F2BE22e1;
}