.simon-game {
  background-color: #3f4e4f;
  padding: 30px 8%;
  text-align: center;
}

.simon-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.simon-game-area {
  transition: transform 1s ease-in-out;
}

.simon-game h1 {
  font-family: Pattaya, serif;
  font-size: 4.5rem;
  color: #dcd7c9;
  text-shadow: 4px 4px #2c3639;
}

.simon-h2 {
  font-family: PressStart2P, sans-serif;
  color: #dcd7c9;
  font-size: 1rem;
  padding: 6px;
  display: inline;
}

#simon-h2:hover {
  color: #3f4e4f;
  background-color: #dcd7c9;
  cursor: pointer;
}

/* Fonts */
@font-face {
  font-family: Pattaya;
  src: url(../../fonts/Pattaya-Regular.ttf);
}

@font-face {
  font-family: PressStart2P;
  src: url(../../fonts/PressStart2P-Regular.ttf);
}

/* Buttons */
.button {
  height: 200px;
  width: 200px;
  margin: 20px;
  border: #2c3639 solid 8px;
  border-radius: 16px;
}

.green-btn {
  background-color: #8cba51;
}

.red-btn {
  background-color: #be0000;
}

.yellow-btn {
  background-color: #fbcb0a;
}

.blue-btn {
  background-color: #0a97b0;
}

.pressed {
  box-shadow: 0 0 15px #dcd7c9;
  background-color: grey;
}

.wrong {
  box-shadow: 0 0 15px #be0000;
  background-color: #be0000;
}

.false {
  border-color: #be0000;
}

/* Number of Lives */
.simon-lives {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
}

.simon-lives h3{
  font-family: PressStart2P, sans-serif;
  color: #dcd7c9;
  font-size: 1rem;
  position: absolute;
  margin-left: 7.5vw;
  margin-top: -5vh;
}

.col {
  vertical-align: middle;
  display: inline-block;
  padding: 6px;
}

.col-subtract-live {
  display: grid;
  align-content: center;
  justify-content: right;
}

.col-add-live {
  display: grid;
  align-content: center;
  justify-content: left;
}

.col-add-live:hover,
.col-subtract-live:hover {
  cursor: pointer;
}

.col-live-amount {
  display: grid;
  align-content: center;
  border: solid 3px #dcd7c9;
  height: 80px;
  width: 50px;
  padding: 0 25px;
}

.lives-h2 {
  font-family: PressStart2P, sans-serif;
  color: #dcd7c9;
  font-size: 2rem;
}

.plus-minus-btn {
  font-family: PressStart2P, sans-serif;
  font-size: 3rem;
  color: #dcd7c9;
  background-color: transparent;
  border: none;
}











/* Toggle Switch */
.simon-switcher {
  display: grid;
  align-items: center;
  justify-content: center;
}

.simon-switcher h4 {
  font-family: Pattaya, serif;
  font-size: 2.3rem;
  color: #dcd7c9;
  text-shadow: 4px 4px #2c3639;
  position: absolute;
  margin-left: 40px;
  margin-bottom: 140px;
}

.rocker {
  display: inline;
  position: relative;
  font-size: 1.2em; /* Sizes the switch */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #dcd7c9;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #dcd7c9;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #dcd7c9;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #be0000;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #c1beb7;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #8cba51;
  color: #dcd7c9;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #dcd7c9;
}

input:focus + .switch-left + .switch-right {
  color: #dcd7c9;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}
